<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SakhalinMonitorDebugRunner" verbose="10" data-provider-thread-count="4">

    <test name="Run tests" parallel="methods" thread-count="2">
        <groups>
            <run>
                <exclude name="notRun"/>
                <include name="run"/>
            </run>
        </groups>
        <packages>
            <package name="ru.yandex.devlada"/>
        </packages>
    </test>

</suite>
